<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Editando: ' + '¿?'}) %>
<body>
    <%- include('partials/headerNavbar') %>



    <div class="container products-wrapper" style="text-align: center;">

<h1>Las contraseñas NO son iguales</h1>
<h3>intente volver a registrarse</h3>

<a href="http://localhost:3000/registrarse">Formulario de registro</a>

</div>






















    <%- include('partials/footer') %>
</body>
</html>